<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Vandana_study/intelij_projects/SeleniumATB15x/LearnSeleniumATB15x">
        <classes>
            <class name="org.example.seleniumTask27Feb"><methods>
                <include name="tta_bank"/></methods>
            </class>
        </classes>
    </test>
</suite>